LOG_LEVEL=INFO # allowed values: DEBUG, INFO, WARNING, ERROR, CRITICAL
SAVE_IMAGES=detection # When to save images. Options: [detection | all | no]

# The following options should only be changed when the application is running outside of docker.
# When using docker, modify the ports and volume mapping in docker-compose.yml instead.
API_HOST=0.0.0.0 #the interface the server binds to.
API_PORT=8080 # the port the server listens on.
IMAGES_DIR=./images # the path where images are saved.
